.app {
  height: 100vh;
  width: 100%;
  background-color: #00bfff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.heading {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}
